## Deliverable 2. Create a Customer Travel Destinations Map.

In [ ]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [ ]:
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [ ]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

In [54]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 100

In [55]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Khorramabad,IR,33.4878,48.3558,90.43,10,0,14.23,clear sky,2021-06-06 14:31:29
1,1,Vaini,TO,-21.2000,-175.2000,71.76,83,20,6.91,few clouds,2021-06-06 14:31:29
3,3,Victoria,HK,22.2855,114.1577,84.38,84,12,1.99,few clouds,2021-06-06 14:38:20
4,4,Hilo,US,19.7297,-155.0900,69.80,88,90,5.75,light rain,2021-06-06 14:35:38
6,6,Hermanus,ZA,-34.4187,19.2345,68.49,45,9,5.30,clear sky,2021-06-06 14:38:20
7,7,Palmerston,AU,-12.4860,130.9833,73.38,71,0,6.22,clear sky,2021-06-06 14:38:21
8,8,Kahului,US,20.8947,-156.4700,74.84,82,75,12.66,broken clouds,2021-06-06 14:37:05
14,14,Atuona,PF,-9.8000,-139.0333,79.09,66,69,11.07,broken clouds,2021-06-06 14:31:33
15,15,Puerto Ayora,EC,-0.7393,-90.3518,76.96,87,27,4.00,scattered clouds,2021-06-06 14:31:33
17,17,Rikitea,PF,-23.1203,-134.9692,76.41,81,95,14.79,light rain,2021-06-06 14:31:34

In [56]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [57]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Khorramabad,IR,33.4878,48.3558,90.43,10,0,14.23,clear sky,2021-06-06 14:31:29
1,1,Vaini,TO,-21.2000,-175.2000,71.76,83,20,6.91,few clouds,2021-06-06 14:31:29
3,3,Victoria,HK,22.2855,114.1577,84.38,84,12,1.99,few clouds,2021-06-06 14:38:20
4,4,Hilo,US,19.7297,-155.0900,69.80,88,90,5.75,light rain,2021-06-06 14:35:38
6,6,Hermanus,ZA,-34.4187,19.2345,68.49,45,9,5.30,clear sky,2021-06-06 14:38:20
...,...,...,...,...,...,...,...,...,...,...,...
705,705,Mazyr,BY,52.0495,29.2456,68.13,65,82,4.65,broken clouds,2021-06-06 14:35:03
706,706,Dicabisagan,PH,17.0818,122.4157,81.32,86,100,5.41,overcast clouds,2021-06-06 14:35:04
707,707,Marsa Matruh,EG,31.3525,27.2453,77.20,57,0,13.80,clear sky,2021-06-06 14:35:04
709,709,Kanigiri,IN,15.4000,79.5167,91.60,48,28,8.46,scattered clouds,2021-06-06 14:35:05
710,710,Hare Bay,CA,48.8499,-54.0148,60.40,75,100,14.14,overcast clouds,2021-06-06 14:35:05

In [58]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Khorramabad,IR,90.43,clear sky,33.4878,48.3558,
1,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,
3,Victoria,HK,84.38,few clouds,22.2855,114.1577,
4,Hilo,US,69.80,light rain,19.7297,-155.0900,
6,Hermanus,ZA,68.49,clear sky,-34.4187,19.2345,
7,Palmerston,AU,73.38,clear sky,-12.4860,130.9833,
8,Kahului,US,74.84,broken clouds,20.8947,-156.4700,
14,Atuona,PF,79.09,broken clouds,-9.8000,-139.0333,
15,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,
17,Rikitea,PF,76.41,light rain,-23.1203,-134.9692,

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.

In [ ]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))